.contactList {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-sizing: border-box;
    background-color: #f1f5f8;
}

.scrollbarContainer {
    flex-grow: 1;
}

.headerListContainer {
    background-color: #d6dfe6;
    padding: 20px;
}

h3 {
    margin: 0;
}

.searchPanel input{
    background-color: #fff;
}

.listHeader {
    background-color: #509de1;
    color: #fff;
    padding: 10px;
}

.greeting {
    opacity: 0.6;
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
}